<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/style.css" type="text/css" />
    <link href="/quill/quill.snow.css" rel="stylesheet">
    <link href="/highlight/styles/default.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
    <script src="/quill-resize-module/dist/quill-resize-image.min.js"></script>
    <script src="/quill/quill.js"></script>

    <title><%= title %></title>
  </head>
</html>
